html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.85);
}

.exit {
  stroke: #FFF;
  stroke-width:2;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer
}

.center {
  position: absolute;
  top: 10%;
  height: 70%;
  width: 99%;
}

@media screen and (max-width: 1024px) {
  .center {
    height: 58vw
  }
}

.back, .forward {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 4.8em;
  cursor: pointer
}

.forward {
  right: 0px;
}

.backbutton {
  height: 4.8em;
  width: 4.8em;
  fill: rgb(255, 255, 255);
  position: absolute;
  top: 40%;
  cursor: pointer
}

.forwardbutton {
  height: 4.8em;
  width: 4.8em;
  fill: rgb(255, 255, 255);
  position: absolute;
  top: 43%;
  right: 0px;
  cursor: pointer
}

@media screen and (max-width: 1128px) {
  .backbutton, .forwardbutton {
    height: 2.4em;
    width: 2.4em;
    top: 45.5%
  }

  .back, .forward {
    width: 2.4em
  }
}

@media screen and (max-width: 500px) {
  .backbutton, .forwardbutton {
    top: 43%
  }
}

@media screen and (max-width: 300px) {
  .backbutton, .forwardbutton {
    top: 40%
  }
}

@media screen and (max-width: 250px) {
  .backbutton, .forwardbutton {
    top: 35%
  }
}

.pic {
  height: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.slider {
  position: absolute;
  bottom: 3%;
  width: 100%;
  height: 100px;
  border-style: solid;
  border-color: white
}
