@keyframes modalFade {
  from {transform: translateY(0);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}

.sharepopup {
  animation-name: modalFade;
  animation-duration: .25s;
}

.sharepopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.8);
}

.sharepopupinner {
  position: relative;
  top: 10%;
  margin: auto;
  height: 615px;
  width: 328px;
  background-color: white;
  padding: 24px;
}

.exitsharediv {
  margin-bottom: 24px;
}

.exitshare {
  height: 16px;
  width: 16px;
  display: block;
  fill: rgb(118, 118, 118);
  cursor: pointer;
}

.head {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 24px;
  color: #484848;
  line-height: 30px;
  font-weight: 600;
}

.subtitle {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 18px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(219,219,219);
  font-weight: lighter;
}

.outershare {
  position: relative;
}

.sharelink {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  border-bottom: 1px solid rgb(219,219,219);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(0, 137, 137);
  height: 76px
}

.shareicon {
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 28px;
  height: 18px;
  width: 18px;
  display: block;
  fill: rgb(72, 72, 72);
  margin-bottom: 24px
}

.sharewebsite {
  cursor: pointer;
  position: absolute;
  left: 26px;
  top: 26px;
  margin-bottom: 24px
}
