.outer {
  position: relative;
  overflow: hidden
}

.slideshow {
  position: relative;
  margin: auto;
  width: 880px;
  height: 100px;
  overflow: hidden;
}

.thumbnail {
  min-width: 100px;
  max-width: 100px;
  height: 67px;
  margin: 10px 5px 10px 5px;
  filter: brightness(40%);
  cursor: pointer
}

.slideshow-inner {
  width: 880px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.hidephoto {
  position: absolute;
  right: 15px;
}

.descriptions {
  margin-left: 5px
}

.text {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: white;
  margin-bottom: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.triangle {
  font-size: 9px;
  position: absolute;
  top: 3.5px;
  right: 5px;
}

.toggle {
  cursor: pointer;
}

.thumbnail:hover {
  filter: brightness(100%);
}
