.slideshow {
  margin: auto;
  width: 880px;
  height: 100px;
  /* border-style: solid;
  border-color: red; */
  overflow: hidden;
  display: flex;
}

.thumbnail {
  width: 100px;
  height: 67px;
  margin: 10px 5px 10px 5px;
  filter: brightness(40%);
  cursor: pointer
}

.thumbnail:hover {
  filter: brightness(100%);
}
